@import url('bootstrap.css');
@import url('bootstrap-grid.css');
@import url('bootstrap-reboot.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS */

/* Background */
.page-bg {
    background-color: #1e1f2f;
    min-height: 100vh;
}

/* Page title */
.page-title {
    color: white;
}

/*!* Gradient buttons *!*/
.pass-hour {
    max-width: fit-content;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border-radius: 10px;
    display: block;
}

.pass-hour:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.feed {
    max-width: fit-content;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border-radius: 10px;
    display: block;
}

.feed:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.reset {
    max-width: fit-content;
    background-image: linear-gradient(to right, #c44cb0 0%, #d33c3c  51%, #c44c4c  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    border-radius: 10px;
    display: block;
}

.reset:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-aling-right{
    display: flex;
    justify-content: flex-end;
}

.animal-container{
    justify-content: center;
 
}

/* Columns */
.column-bg-orange {
    border-color: #fc7115;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
}

.pb-bg-orange{
    background-color: #fc7115 !important;
    color: #ffffff !important;
}

.pb-bg-green{
    background-color: #39b953 !important;
    color: #ffffff !important;
}

.pb-bg-purple{
    background-color: #a436af !important;
    color: #ffffff !important;
}

.pb-bg-critical {
    background-color: red !important;
    color: #1d2124 !important;
}


.column-bg-green {
    border-color: #39b953;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
}

.column-bg-purple {
    border-color: #a436af;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
}

.column-title {
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
}

/* Avatar */
.avatar-img {
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
}

/* Data row */
.data-row {
    margin-bottom: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .button-aling-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pass-hour{
        max-width: none;
        width: 100%;
    }

    .feed{
        max-width: none;
        width: 100%;
    }

    .reset{
        max-width: none;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .button-aling-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pass-hour{
        max-width: none;
        width: 100%;
    }

    .feed{
        max-width: none;
        width: 100%;
    }

    .reset{
        max-width: none;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .button-aling-right{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
}
